.row
  .col-xs-12
    .panel.panel-default
      .panel-heading
        .panel-title
          h5 Projects
      .panel-body
        .row(ng-repeat='project in app.projects')
          .col-xs-12
            pre {{ project | json }}
