.row
  .col-xs-12
    .panel.panel-blue
      .panel-heading
        .panel-title
          .row
            .col-xs-9
              h5 Iteration {{ iteration.iteration.id }}
            .col-xs-3
              a.btn.btn-xs.btn-default.pull-right(ui-sref='project({ id: iteration.iteration.project_id })')
                i.fa.fa-chevron-left.fa- &nbsp;
                | Back
      .panel-body
        .row
          .col-xs-12
            dl.dl-horizontal
              dt Start
              dd {{ iteration.iteration.start | date }}
              dt End
              dd {{ iteration.iteration.end | date }}
        .panel.panel-blue(ng-repeat='(task_id, updates) in iteration.grouped')
          .panel-heading
            .panel-title
              h6 Task {{ task_id }}
          .panel-body
            .row
              .col-xs-12
                dl.dl-horizontal
                  dt Name
                  dd {{ updates[0].task.name }}
                  dt Story
                  dd {{ updates[0].task.story }}
                  dt Labels
                  dd {{ updates[0].task.labels }}
                  dt Initial effort
                  dd {{ updates[0].initial }}
                h6 Task updates
                .row.updates-table
                  .col-xs-1(ng-repeat='update in updates')
                    .row
                      .col-xs-12.col-rotate
                        div {{ update.when | date:'dd-MM-yy' }}
                      .col-xs-12.col-remaining {{ update.remaining }}
