.row
  .col-xs-12
    .panel.panel-blue
      .panel-heading
        .panel-title
          .row
            .col-xs-9
              h5 Project {{ project.project.id }}
            .col-xs-3
              back-btn(state='home')
      .panel-body
        .row
          .col-xs-9
            dl.dl-horizontal
              dt Name
              dd {{ project.project.name }}
              dt Start
              dd {{ project.project.start | date }}
              dt End
              dd {{ project.project.end | date }}
              dt Iteration size
              dd {{ project.project.size }}
              dt Estimations unit
              dd {{ project.project.unit }}
          .col-xs-3
            .btn-group-vertical
              monitor-btn(project-id='{{ project.project.id }}')
        .panel.panel-blue
          .panel-heading
            .panel-title
              h6 Iterations
          .panel-body
            .row(ng-repeat='iteration in project.iterations')
              .col-xs-9
                dl.dl-horizontal
                  dt ID
                  dd {{ iteration.id }}
                  dt Period
                  dd {{ iteration.start | date }} - {{ iteration.end | date }}
              .col-xs-3
                show-btn(state='iteration({ id: {{iteration.id}} })')
              .col-xs-12
                hr(ng-show='$index < project.iterations.length - 1')
