@import "../components/bootstrap/less/bootstrap";
@import "../components/font-awesome/css/font-awesome.css";

@my-green: lighten(darkgreen, 8%);
@my-blue: darken(#0280FD, 20%);

@body-bg: lighten(@gray-lighter, 2%);
@text-color: @gray-darker;
@link-color: @gray-darker;
@link-hover-color: @gray-light;
@modal-content-bg: @body-bg;
@modal-content-border-color: fadeOut(whitesmoke, 80%);
@modal-header-border-color: @gray-dark;
@hr-border: @my-blue;
@nav-pills-active-link-hover-bg: @gray-lighter;
@nav-pills-border-radius: 3px;
@nav-pills-active-link-hover-color: @gray-darker;

@font-face {
  font-family: Raleway;
  src: url(fonts/Raleway-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/Raleway-SemiBold.ttf);
  font-weight: 600;
}

body {

  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;

  #window-controls {
    position: fixed;
    right: 12px;
    top: 15px;
    z-index: 999;
  }

  & > .container {
    margin-top: 90px;
    margin-bottom: 50px;
  }

  #navbar {
    margin-bottom: 20px;
  }

  #home-link {
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
  }

  .panel {
    .panel-body {
      background-color: @body-bg;
    }
    .panel-title {
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: bold;
      }
    }
  }

  .panel-blue {
    .panel-variant(darken(@my-blue, 8%), white, @my-blue, darken(@my-blue, 8%));
    .panel-title {
      h1, h2, h3, h4, h5, h6 {
        margin: 0;
        color: white;
      }
    }
  }

  .btn-group-vertical {
    width: 100%;
  }

  .btn-blue {
    .button-variant(white, lighten(@my-blue, 20%), lighten(@my-blue, 10%));
  }

  .btn-red {
    .button-variant(white, lightcoral, darken(lightcoral, 10%));
  }

  .updates-table {
    padding-top: 20px;
    .col-rotate > * {
        transform: rotate(50deg);
        font-size: 10px;
        color: lightcoral;
        width: 50px;
    }
    .col-remaining {
      padding-top: 30px;
      text-align: center;
      font-weight: bold;
      color: @my-green;
    }
  }

  .color-green {
    color: @my-green;
  }
  .color-orange {
    color: orange;
  }
  .color-red {
    color: red;
  }
  .color-blue {
    color: @my-blue;
  }

  .modal-dialog {
    border: 11px solid rgba(245, 245, 245, 0.2);
    .modal-content {
      border: 1px solid @my-blue;
      border-radius: 0;
      .modal-header {
          border-bottom-color: @my-blue;
      }
      .modal-footer {
          border-top-color: @my-blue;
      }
    }
  }

  .col-bar-0 {
    background-color: @my-green;
    height: 1px;
  }
  .col-bar-1 {
    background-color: @my-green;
    height: 5px;
  }
  .col-bar-2 {
    background-color: @my-green;
    height: 10px;
  }
  .col-bar-3 {
    background-color: @my-green;
    height: 15px;
  }
  .col-bar-4 {
    background-color: @my-green;
    height: 20px;
  }
  .col-bar-5 {
    background-color: @my-green;
    height: 25px;
  }
  .col-bar-6 {
    background-color: @my-green;
    height: 30px;
  }
  .col-bar-7 {
    background-color: @my-green;
    height: 35px;
  }
  .col-bar-8 {
    background-color: @my-green;
    height: 40px;
  }
  .col-bar-9 {
    background-color: @my-green;
    height: 45px;
  }
  .col-bar-10 {
    background-color: @my-green;
    height: 50px;
  }
  .col-bar-11 {
    background-color: @my-green;
    height: 55px;
  }
  .col-bar-12 {
    background-color: @my-green;
    height: 60px;
  }
  .col-bar-13 {
    background-color: @my-green;
    height: 65px;
  }
  .col-bar-14 {
    background-color: @my-green;
    height: 70px;
  }

}
